<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <label for="name">Email:</label>
        <input 
            type="email" 
            name="email" 
            required 
            placeholder="email address" 
        />
        <br>

        <label for="name">Password:</label>
        <input 
            type="password" 
            name="password" 
            required 
            placeholder="Enter your password" 
        />
        <br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>